.widgetTitleBox {
  display: flex;
}

.selectBox {
  margin: 5px;
}

.selectBox > div {
  margin-top: 10px;
}

.totalCategory {
  width: 50%;
  border: 1px solid black;
  margin: 5px;
  padding-left: 10px;
}
