.rst__node {
  min-width: 100%;
  white-space: nowrap;
  position: relative;
  text-align: left;
}

.rst__nodeContent {
  position: absolute;
  top: 0;
  bottom: 0;
}

/* ==========================================================================
   Scaffold

    Line-overlaid blocks used for showing the tree structure
   ========================================================================== */
.rst__lineBlock,
.rst__absoluteLineBlock {
  height: 100%;
  position: relative;
  display: inline-block;
}

.rst__absoluteLineBlock {
  position: absolute;
  top: 0;
}

.rst__lineHalfHorizontalRight::before,
.rst__lineFullVertical::after,
.rst__lineHalfVerticalTop::after,
.rst__lineHalfVerticalBottom::after {
  position: absolute;
  content: '';
  background-color: black;
}

/**
 * +-----+
 * |     |
 * |  +--+
 * |     |
 * +-----+
 */
.rst__lineHalfHorizontalRight::before {
  height: 1px;
  top: 50%;
  right: 0;
  width: 50%;
}

/**
 * +--+--+
 * |  |  |
 * |  |  |
 * |  |  |
 * +--+--+
 */
.rst__lineFullVertical::after,
.rst__lineHalfVerticalTop::after,
.rst__lineHalfVerticalBottom::after {
  width: 1px;
  left: 50%;
  top: 0;
  height: 100%;
}

/**
 * +-----+
 * |  |  |
 * |  +  |
 * |     |
 * +-----+
 */
.rst__lineHalfVerticalTop::after {
  height: 50%;
}

/**
 * +-----+
 * |     |
 * |  +  |
 * |  |  |
 * +-----+
 */
.rst__lineHalfVerticalBottom::after {
  top: auto;
  bottom: 0;
  height: 50%;
}

/* Highlight line for pointing to dragged row destination
   ========================================================================== */
/**
 * +--+--+
 * |  |  |
 * |  |  |
 * |  |  |
 * +--+--+
 */
.rst__highlightLineVertical {
  z-index: 3;
}
.rst__highlightLineVertical::before {
  position: absolute;
  content: '';
  background-color: #36c2f6;
  width: 8px;
  margin-left: -4px;
  left: 50%;
  top: 0;
  height: 100%;
}
@keyframes arrow-pulse {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  30% {
    transform: translate(0, 300%);
    opacity: 1;
  }
  70% {
    transform: translate(0, 700%);
    opacity: 1;
  }
  100% {
    transform: translate(0, 1000%);
    opacity: 0;
  }
}
.rst__highlightLineVertical::after {
  content: '';
  position: absolute;
  height: 0;
  margin-left: -4px;
  left: 50%;
  top: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid white;
  animation: arrow-pulse 1s infinite linear both;
}

/**
 * +-----+
 * |     |
 * |  +--+
 * |  |  |
 * +--+--+
 */
.rst__highlightTopLeftCorner::before {
  z-index: 3;
  content: '';
  position: absolute;
  border-top: solid 8px #36c2f6;
  border-left: solid 8px #36c2f6;
  box-sizing: border-box;
  height: calc(50% + 4px);
  top: 50%;
  margin-top: -4px;
  right: 0;
  width: calc(50% + 4px);
}

/**
 * +--+--+
 * |  |  |
 * |  |  |
 * |  +->|
 * +-----+
 */
.rst__highlightBottomLeftCorner {
  z-index: 3;
}
.rst__highlightBottomLeftCorner::before {
  content: '';
  position: absolute;
  border-bottom: solid 8px #36c2f6;
  border-left: solid 8px #36c2f6;
  box-sizing: border-box;
  height: calc(100% + 4px);
  top: 0;
  right: 12px;
  width: calc(50% - 8px);
}
.rst__highlightBottomLeftCorner::after {
  content: '';
  position: absolute;
  height: 0;
  right: 0;
  top: 100%;
  margin-top: -12px;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 12px solid #36c2f6;
}
/* 비즈스토어 My App 트리 popover 메뉴 */
.myappTreePopupMenu .ant-popover-arrow {
  display: none;
}
.myappTreePopupMenu .ant-popover-inner {
  height: 35px;
  line-height: 1;
  padding: 0;
  background: transparent;
  box-shadow: none;
}
.myappTreePopupMenu .ant-popover-inner-content {
  position: relative;
  padding: 0;
}
.myappTreePopupMenu .ant-popover-inner-content .btnsWrapper {
  display: inline-block;
  padding: 5px 0 5px 5px;
  border-radius: 3px;
  background: #d3d5d7;
}
.myappTreePopupMenu .ant-popover-inner-content .btnsWrapper > li {
  float: left;
}
.myappTreePopupMenu .ant-popover-inner-content .btnsWrapper > li button {
  margin-right: 5px;
}
.myappTreePopupMenu .ant-popover-inner-content .btnsWrapper > li > div {
  position: absolute;
  left: 0;
  top: 40px;
  width: 310px;
  padding: 15px 15px 0 15px;
  background: #e9e9e9;
}
.myappTreePopupMenu .ant-popover-inner-content .entryName > li {
  padding: 3px 0;
}
.myappTreePopupMenu .ant-popover-inner-content .entryName label {
  display: inline-block;
  width: 80px;
  height: 32px;
  float: left;
  line-height: 32px;
  color: #404040;
  font-size: 14px;
}
.myappTreePopupMenu .ant-popover-inner-content .entryName .ant-input {
  width: calc(100% - 80px);
  border-radius: 0;
  border-color: #cccccc;
}
.myappTreePopupMenu .ant-popover-inner-content .entryName .ant-input:hover {
  border-color: #cccccc;
}
.myappTreePopupMenu .ant-popover-inner-content .buttonWrapper {
  padding: 9px 0 14px;
  text-align: right;
}
.myappTreePopupMenu .ant-popover-inner-content .buttonWrapper > button:first-child {
  margin-right: 10px;
}
.myappTreePopupMenu .ant-popover-inner-content .buttonWrapper > button {
  background: transparent;
  color: #404040;
  font-size: 14p;
  font-weight: 600;
  text-decoration: underline;
}
