@charset "utf-8";
/* antd reset */
/* select */
.hypmTablet .ant-select-dropdown-menu-item {
  font-size: 16px;
  color: rgba(0,0,0, .87);
  line-height: 48px;
}
.hypmTablet .ant-select-dropdown-menu-item-active,
.hypmTablet .ant-select-dropdown-menu-item:focus,
.hypmTablet .ant-select-dropdown-menu-item:active {
  background-color: rgba(248,168,165,0.16);
}
.hypmTablet.CO .ant-select-dropdown-menu-item-active,
.hypmTablet.CO .ant-select-dropdown-menu-item:focus,
.hypmTablet.CO .ant-select-dropdown-menu-item:active {
  background-color: rgba(110,211,193,0.16) !important;
}

/* dropdown */

/* .hypmTablet.ant-dropdown {
  left: auto !important;
  top: 50px !important;
  right: 20px;
}
.hypmTablet.ant-dropdown .ant-dropdown-menu {
  padding: 8px 0;
}
.hypmTablet.ant-dropdown .ant-dropdown-menu-item, 
.hypmTablet.ant-dropdown .ant-dropdown-menu-submenu-title {
  padding: 0 !important;
}
.hypmTablet.ant-dropdown .ant-dropdown-menu-item:hover {
  background-color: rgba(248,168,165,0.16);
}
.hypmTablet.CO.ant-dropdown .ant-dropdown-menu-item:hover {
  background-color: rgba(110,211,193,0.16);
}
.hypmTablet.ant-dropdown .ant-dropdown-menu-item .ant-btn {
  background-color: transparent !important;
  border: none !important;
  width: 184px;
  height: 48px;
  color: rgba(0,0,0,0.87) !important;
  font-size: 14px;
  text-align: left;
  padding-left: 0;
  box-shadow: none;
}
.hypmTablet.ant-dropdown .ant-dropdown-menu-item .ant-btn > span {
  display: block;
  position: relative;
  padding-left: 68px;
  height: 48px;
  line-height: 48px;
  color: rgba(0,0,0, .87);
}
.hypmTablet.ant-dropdown .ant-dropdown-menu-item .ant-btn > span:before {
  content:"" !important;
  position: absolute;
  top: 12px;
  left: 24px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
.hypmTablet.ant-dropdown .ant-dropdown-menu-item .ant-btn[disabled] > span {
  opacity: .5;
}
.hypmTablet.ant-dropdown .ant-dropdown-menu-item .ant-btn.change > span:before {
  background: transparent url(../images/Worker.png) no-repeat 50% 50%;
  background-size: 100% 100%;
}
.hypmTablet.ant-dropdown .ant-dropdown-menu-item .ant-btn.logout > span:before {
  background: transparent url(../images/Logout.png) no-repeat 50% 50%;
  background-size: 100% 100%;
} */

/* modal 도급사 등 선택 */
.hypmTablet .ant-modal .ant-modal-body {
  max-height: 316px;
  overflow: auto;  
  padding: 0;  
}
.hypmTablet .ant-modal .contractor-radio {
  padding: 0 24px;
}
.hypmTablet .ant-modal .contractor-radio label {
  display: block;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: rgba(0,0,0, .87);
}
.hypmTablet .ant-modal .ant-radio-inner {
  width: 18px;
  height: 18px;
  border-width: 2px;
  border-color: #888;
}
.hypmTablet .ant-modal .ant-radio-checked .ant-radio-inner {
  border-color: #00A282;
}
.hypmTablet .ant-modal .ant-radio-inner::after {
  background-color: #00A282;
}
.hypmTablet .ant-modal .ant-modal-title {
  font-size: 20px;
  font-weight: bold;
  color: rgba(0,0,0, .87);
  line-height: 64px;
}
.hypmTablet .ant-modal .ant-modal-header {
  height: 64px;
  line-height: 64px;
  padding: 0 24px;
}
.hypmTablet .ant-modal .ant-modal-footer button {
  border: none !important;
  color: #00A282 !important;
  font-size: 14px;
  font-weight: bold;
  box-shadow: none !important;
}
.hypmTablet .ant-modal .ant-modal-footer button[disabled] {
  color: rgba(0,0,0,0.38) !important;
  background-color: transparent;  
}
.hypmTablet .ant-modal .ant-modal-footer button.btn-prev {
  float: left;
}
.hypmTablet.confirm .ant-modal-body {
  padding: 20px 24px;
  font-size: 16px;
  line-height: 24px;
}
.hypmTablet.confirm .ant-modal-footer {
  border-top: none;
}
/* 작업자 입력 */
.hypmTablet.worker .ant-modal-body {
  max-height: inherit;
}
.hypmTablet.worker .ant-modal-title {
  padding-left: 56px;
}
.hypmTablet.worker .worker {
  display: table;
  width: 100%;
}
.hypmTablet.worker .worker .search-worker,
.hypmTablet.worker .worker .recent-worker {
  display: table-cell;
  vertical-align: top;
}
.hypmTablet.worker .worker .search-worker {
  width: 295px;
  border-right: 1px solid #eaeaea;
  padding: 15px 24px;
  position: relative;
}
.hypmTablet.worker .worker .search-worker .guide {
  position: absolute;
  bottom: 10px;
  left: 24px;
  font-size: 12px;
}
.hypmTablet.worker .worker .input-worker input.worker {
  width: 100%;
  height: 48px;
  line-height: 48px;
  border-radius: 4px;
  font-size: 16px;
}
.hypmTablet.worker .worker .input-worker .guide {
  position: static;
  display: block;
  font-size: 12px;
  color: rgba(0,0,0,0.60);
  margin-top: 2px;
  margin-bottom: 12px;
}
.hypmTablet.worker .input-worker input:focus {
  border: 2px solid #00A282 !important;
  color: rgba(0,0,0,0.87) !important;
}
.hypmTablet.worker .input-worker input:focus + .guide {
  color: #00A282;
}

.hypmTablet.worker .worker-list,
.hypmTablet.worker .worker-list li {
  display: block;
}
.hypmTablet.worker .search-worker .worker-list li {
  margin-top: 8px;
}
.hypmTablet.worker .worker-list li button {
  width: 100%;
  height: 36px;
  text-align: left;
  position: relative;
}
.hypmTablet.worker .worker-list li button:before {
  content: "" !important;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 16px;
  left: auto;
  margin-top: -10px;
  opacity: 1 !important;
}
.hypmTablet.worker .search-worker .worker-list li button:before {
  background: transparent url(../images/Remove.png) 50% 50%;
  background-size: 100% 100%;
}
.hypmTablet.worker .recent-worker .worker-list li button:before {
  background: transparent url(../images/Add_gray.png) 50% 50%;
  background-size: 100% 100%;
}
.hypmTablet.worker .worker .recent-worker {
  background-color: #F9FAFA;
}
.hypmTablet.worker .worker .recent-worker h4 {
  margin: 0;
  padding: 0 16px;
  height: 44px;
  line-height: 44px;
  border-bottom: 1px solid rgba(0,0,0, .12);
}
.hypmTablet.worker .worker .recent-worker .no-recent {
  padding: 80px 16px;
  font-size: 12px;
  text-align: center;
  min-height: 300px;
}
.hypmTablet.worker .worker .recent-worker .worker-list {
  max-height: 300px;
  overflow: auto;
}
.hypmTablet.worker .worker .recent-worker .worker-list li button {
  height: 44px;
  line-height: 44px;
  background-color: transparent;
  margin-bottom: 0;
  border: none !important;
  color: rgba(0,0,0,0.87) !important;
  box-shadow: none !important;
}
.hypmTablet.worker .worker-list li button:focus,
.hypmTablet.worker .worker-list li button:active,
.hypmTablet.worker .worker-list li button.active {
  border: 1px solid #d9d9d9 !important;
  background-color: rgba(110,211,193,0.16) !important;
}
.hypmTablet.worker .btn-confirm {
  position: absolute;
  width: 70px;
  height: 48px;
  line-height: 48px;
  top: 8px;
  right: 8px;
  border: none !important;
  color: #00A282 !important;
  font-size: 14px;
  font-weight: bold;
}
.hypmTablet.worker .ant-modal-close {
  top: 4px;
  left: 4px;
  right: auto;  
  width: 48px;
  height: 48px;
  border-radius: 24px;
}
.hypmTablet.worker .ant-modal-close-x {
  background: transparent url(../images/Close.png) no-repeat 50% 50%;
  background-size: 24px 24px;
  width: 48px;
  height: 48px;
}
.hypmTablet.worker .btn-confirm:focus,
.hypmTablet.worker .btn-confirm:active,
.hypmTablet.worker .btn-confirm.active,
.hypmTablet.worker .ant-modal-close:focus,
.hypmTablet.worker .ant-modal-close:active,
.hypmTablet.worker .ant-modal-close.active {
  background-color: rgba(110,211,193,0.16) !important;
}

.hypmTablet.worker .ant-modal-close-x .anticon {
  display: none;
}

/* ant-btn pseudo class reset */

.hypmTablet .ant-btn:hover, .hypmTablet .ant-btn:focus, 
.hypmTablet .ant-btn:active, .hypmTablet .ant-btn.active {
  color:  rgba(0,0,0, .87);
  box-shadow: none !important;
}
.hypmTablet [ant-click-animating-without-extra-node='true']::after, 
.hypmTablet .ant-click-animating-node {
  content: none !important;
}
