@charset 'UTF-8';

/* 에러 메시지 */
.errMsg {
  color: #ea002c;
  font-size: 11px;
  line-height: 1.5;
}

/* 비즈스토어, 어드민 폼 요소 스타일 */
.storeLayout input,
.storeLayout textarea,
.storeLayout .ant-input {
  border: 1px solid #cccccc !important;
  border-radius: 0;
}

.storeLayout input:hover,
.storeLayout textarea:hover,
.storeLayout .ant-input:hover,
.storeLayout input:focus,
.storeLayout textarea:focus,
.storeLayout .ant-input:focus {
  border-color: #cccccc;
}

.storeLayout input:read-only,
.storeLayout textarea:read-only,
.storeLayout .ant-input:read-only {
  background: #f5f5f5;
  cursor: default;
}

/* 비즈스토어, 어드민 검색 입력박스 스타일 */
.storeLayout .ant-select,
.storeLayout .searchWrapper > input {
  font-size: 13px;
  border: 1px solid #c1c1c1 !important;
  border-radius: 4px !important;
}

/* 비즈스토어, 어드민 드롭다운 스타일 */
.storeLayout .ant-select-selection {
  border: none !important;
}

.storeLayout .ant-select-selection--single {
  height: 30px;
}

/* PC 햄버거 메뉴 */
.storeSubmenu {
  top: 0 !important;
  left: 0 !important;
  padding-top: 0 !important;
  z-index: 1031;
}

/* z-index 1030은 Tree popover 메뉴 */
.storeSubmenu .ant-popover-arrow {
  display: none;
}

.storeSubmenu .ant-popover-inner-content {
  position: fixed;
  width: 210px;
  padding: 5px 0px 0px 5px;
  margin-top: 45px;
  border: none;
  box-shadow: none;
}

.storeSubmenu .ant-popover-inner-content ul {
  display: block;
  padding: 10px 5px;
  border: 1px solid #a5a5a5;
  background-color: #fff;
}

.storeSubmenu .ant-popover-inner-content ul li {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  padding-left: 22px;
}

.storeSubmenu .ant-popover-inner-content ul li:hover {
  background-color: #ececec;
}

.storeSubmenu .ant-popover-inner-content ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #404040;
  font-size: 14px;
}

.storeSubmenu .ant-popover-placement-bottomLeft {
  padding-top: 0;
}

/* Popover */
.popoverType1 {
  padding: 0;
}

.popoverType1 {
  border-radius: 3px;
  background-color: #474747;
}

.popoverType1 .ant-popover-content .ant-popover-inner {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.popoverType1 .ant-popover-content .ant-popover-arrow {
  display: none;
}

/* 비즈스토어 앱 상세 > 필수 APP, 추천 APP */
.popoverType1 .ant-popover-content .ant-popover-inner-content {
  padding: 0;
  margin-top: -10px;
}

.popoverType1 .appListMenu {
  padding: 0 5px;
}

.popoverType1 .appListMenu > li:first-child > button {
  border-bottom: 1px solid #858585;
  border-radius: 0;
}

.popoverType1 .ant-popover-content button {
  width: 111px;
  height: 33px;
  box-sizing: border-box;
  padding: 0px 0px 0px 24px;
  color: #ffffff;
  font-size: 12px;
  line-height: 33px;
  text-align: left;
  letter-spacing: -0.5px;
  border: 0;
  background-color: #474747;
}

.popoverType1 .appListMenu .icon-regst-tree {
  background: url(../../../../images/bizstore/icon-category-rgt2.png) no-repeat 0 50%;
  margin-left: 9px;
}

.popoverType1 .appListMenu .icon-regst-app {
  background: url(../../../../images/bizstore/icon-menu-rgt2.png) no-repeat 0 50%;
  margin-left: 9px;
}

.popoverType1 .appListMenu .icon-regst-use {
  width: 50px;
  padding: 0;
  text-align: center;
}

/* 비즈스토어 My Page과 My App 트리 popover 메뉴 */
.mypageTreePopupMenu.ant-popover-placement-right {
  padding-left: 0;
  margin-left: -40px;
  z-index: 9999;
}

.mypageTreePopupMenu .ant-popover-arrow {
  display: none;
}

.mypageTreePopupMenu .ant-popover-inner {
  height: auto;
  line-height: 1;
  padding: 0;
  background: transparent;
  box-shadow: none;
}

.mypageTreePopupMenu .ant-popover-inner-content {
  padding: 0;
}

.mypageTreePopupMenu .ant-popover-inner-content .btnsWrapper {
  padding: 5px 0 5px 5px;
  border-radius: 3px;
  background: #886ab5;
}

.mypageTreePopupMenu .ant-popover-inner-content button {
  margin-right: 5px;
  vertical-align: middle;
}

.mypageTreePopupMenu .mypageTree {
  width: 100%;
  padding: 10px 15px 0 15px;
  margin-bottom: 2px;
  background: #e9e9e9;
}

.mypageTreePopupMenu .mypageTree .entryName li {
  padding: 3px 0;
}

.mypageTreePopupMenu .mypageTree .entryName li label {
  display: inline-block;
  width: 80px;
  height: 32px;
  line-height: 32px;
  color: #404040;
  font-size: 14px;
}

.mypageTreePopupMenu .mypageTree .entryName li .ant-input {
  width: calc(100% - 80px);
  border-radius: 0;
  border-color: #cccccc;
}

.mypageTreePopupMenu .mypageTree .entryName li .ant-input:hover {
  border-color: #cccccc;
}

.mypageTreePopupMenu .mypageTree .buttonWrapper {
  padding: 9px 0 14px;
  text-align: right;
}

.mypageTreePopupMenu .mypageTree .buttonWrapper > button {
  background: transparent;
  color: #404040;
  font-size: 14px;
  font-weight: 600;
  text-decoration: underline;
}

.mypageTreePopupMenu .mypageTree .buttonWrapper > button::first-child {
  margin-right: 10px;
}

/* 비즈스토어 My App 트리 popover 메뉴 */
.myappTreePopupMenu .ant-popover-arrow {
  display: none;
}

.myappTreePopupMenu .ant-popover-inner {
  height: 35px;
  line-height: 1;
  padding: 0;
  background: transparent;
  box-shadow: none;
}

.myappTreePopupMenu .ant-popover-inner-content {
  position: relative;
  padding: 0;
}

.myappTreePopupMenu .ant-popover-inner-content .btnsWrapper {
  display: inline-block;
  padding: 5px 0 5px 5px;
  border-radius: 3px;
  background: #886ab5;
}

.myappTreePopupMenu .ant-popover-inner-content .btnsWrapper > li {
  float: left;
}

.myappTreePopupMenu .ant-popover-inner-content .btnsWrapper > li button {
  margin-right: 5px;
}

.myappTreePopupMenu .ant-popover-inner-content .btnsWrapper > li > div {
  position: absolute;
  left: 0;
  top: 40px;
  width: 310px;
  padding: 15px 15px 0 15px;
  background: #e9e9e9;
}

.myappTreePopupMenu .ant-popover-inner-content .entryName > li {
  padding: 3px 0;
}

.myappTreePopupMenu .ant-popover-inner-content .entryName label {
  display: inline-block;
  width: 80px;
  height: 32px;
  float: left;
  line-height: 32px;
  color: #404040;
  font-size: 14px;
}

.myappTreePopupMenu .ant-popover-inner-content .entryName .ant-input {
  width: calc(100% - 80px);
  border-radius: 0;
  border-color: #cccccc;
}

.myappTreePopupMenu .ant-popover-inner-content .entryName .ant-input:hover {
  border-color: #cccccc;
}

.myappTreePopupMenu .ant-popover-inner-content .buttonWrapper {
  padding: 9px 0 14px;
  text-align: right;
}

.myappTreePopupMenu .ant-popover-inner-content .buttonWrapper > button:first-child {
  margin-right: 10px;
}

.myappTreePopupMenu .ant-popover-inner-content .buttonWrapper > button {
  background: transparent;
  color: #404040;
  font-size: 14p;
  font-weight: 600;
  text-decoration: underline;
}

.sizeOptionPopover .ant-popover-arrow {
  display: none;
}

.sizeOptionPopover .centerPos {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
}

.sizeOptionPopover .centerPos .ant-spin-spinning {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* 비즈스토어 앱상세페이지 담당자 popover */
/* .storeLayout .managerList {left: 20px !important;} */
.managerList .ant-popover-inner-content {
  padding: 10px;
}

/* 모달창 뜰 때 중앙에 위치 (antd) */
/* .vertical-center-modal {text-align: center;white-space: nowrap;}
.vertical-center-modal:before {content: ''; display: inline-block; height: 100%; vertical-align: middle; width: 0;}
.vertical-center-modal .ant-modal {display: inline-block; vertical-align: middle; top: 0; text-align: left;} */

/* 비즈스토어, 어드민 Modal (antd modal과 react-modal에서 공통으로 적용) */
.storeModal .targetApp {
  height: 30px;
  border-bottom: 1px solid #333333;
  font-size: 13px;
  color: #222222;
  line-height: 30px;
}

.storeModal .targetApp > .title {
  display: inline-block;
  margin-right: 5px;
  color: #808080;
}

.storeModal .grayBox {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 22px 22px 25px 25px;
  background: #f5f5f5;
}

.storeModal .grayBox > p {
  margin-bottom: 10px;
  color: #404040;
  font-size: 13px;
}

.storeModal .ant-radio-wrapper > span {
  color: #404040;
  font-size: 13px;
}

.storeModal textarea {
  width: calc(100% - 20px);
  float: left;
  margin-top: 5px;
  padding: 10px;
  line-height: 1.5em;
}

/* Modal == Chrome에서 text가 흐리게 보이는 현상 해결 (비즈스토어, 어드민 위젯설정)*/
.react-router-modal__modal {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: none;
  transform: none;
  border-radius: 0;
  border: none;
}

/* 비즈스토어 My App 관리 > 카테고리 선택 */
.popoverCtgTree.ant-popover-placement-bottom {
  width: 310px;
  z-index: 1000 !important;
}

.popoverCtgTree .ant-popover-content .ant-popover-arrow {
  display: none;
}

.popoverCtgTree .ant-popover-inner {
  margin-right: -5px;
  background: #e9e9e9;
  border-radius: 0;
  box-shadow: none;
}

.popoverCtgTree .ant-popover-inner-content {
  padding: 12px 16px;
}

.popoverCtgTree .ant-popover-title {
  padding-top: 10px !important;
}

.popoverCtgTree .ant-popover-title,
.popoverCtgTree .entryName label {
  color: #404040;
  font-size: 14px;
}

.popoverCtgTree .entryName li {
  padding-bottom: 5px;
}

.popoverCtgTree .entryName label {
  display: inline-block;
  width: 55px;
}

.popoverCtgTree .entryName input.ant-input {
  width: calc(100% - 55px);
  height: 32px;
  border-color: #cccccc;
  border-radius: 0;
}

.popoverCtgTree .entryName input.ant-input:hover {
  border-color: #cccccc;
}

.popoverCtgTree .buttonWrapper {
  text-align: right;
}

.popoverCtgTree .buttonWrapper button {
  color: #404040;
  font-size: 14px;
  background: transparent;
  text-decoration: underline;
}

.popoverCtgTree .buttonWrapper button:first-child {
  margin-right: 10px;
}

/* Sider */
.siderLayout {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .siderLayout.ant-layout-sider {
    position: fixed;
    top: 85px;
    display: block;
    flex: 0 0 100vw !important;
    max-width: 100vw !important;
    min-width: 100vw !important;
    width: 100vw !important;
    height: calc(100vh - 85px);
    overflow: hidden;
    background: #ffffff;
    z-index: 1001;
  }

  .siderLayout.ant-layout-sider-collapsed {
    min-width: 0 !important;
    max-width: 0 !important;
    width: 0 !important;
  }

  .managerList {
    padding-top: 4px;
  }

  .managerList .ant-popover-inner-content {
    padding: 0;
  }

  .managerList .ant-popover-arrow {
    display: none;
  }
}

/* 모달창 스타일 */
/* CASE 1: react-modal 에서 import 한 경우 */
.CommonModal .ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgba(0, 0, 0, 0.3) !important;
  z-index: 1021;
}

.CommonModal .ReactModal__Content.ReactModal__Content--after-open {
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  background: transparent !important;
  width: auto !important;
  height: auto !important;
  transform: none !important;
  overflow: hidden !important;
  padding: 0 !important;
  border-radius: 0 !important;
  border: 0 !important;
}

/* App 심사 반려 (왼쪽 대상 App과 심사 신청자 테이블) */
.CommonModal .opposeTargetTable {
  width: calc(100% - 20px);
}

.CommonModal .opposeTargetTable thead.fixedHeader {
  position: absolute;
  width: 350px;
  height: 30px;
  border-bottom: 1px solid #333333;
  font-size: 13px;
  color: #808080;
  line-height: 30px;
}

.CommonModal .opposeTargetTable thead.fixedHeader th:first-child,
.CommonModal .opposeTargetTable tbody td:first-child {
  width: 140px;
}

.CommonModal .opposeTargetTable thead.fixedHeader th:last-child,
.CommonModal .opposeTargetTable tbody td:last-child {
  width: 210px;
}

.CommonModal .opposeTargetTable tbody td {
  height: 27px;
  color: #404040;
  font-size: 13px;
}
