.sortableTreeWrapper {
  color: #404040;
}

/* Organization Tree Customization */
.sortableTreeWrapper .rst__lineHalfHorizontalRight::before,
.sortableTreeWrapper .rst__lineFullVertical::after,
.sortableTreeWrapper .rst__lineHalfVerticalTop::after,
.sortableTreeWrapper .rst__lineHalfVerticalBottom::after {
  left: calc(50% - 0px);
  width: 1px;
  background-color: #ddd;
}
.sortableTreeWrapper .rstcustom__expandButton {
  border-radius: 0;
  border: 1px solid transparent;
  background-image: url(../images/bizstore/tree-icon-expand-gray2.png);
  background-size: 7px;
  width: 14px;
  height: 14px;
}
.sortableTreeWrapper .rstcustom__collapseButton {
  border-radius: 0;
  border: 1px solid transparent;
  background-image: url(../images/bizstore/tree-icon-collapsed2.png);
  background-size: 7px;
  width: 14px;
  height: 14px;
}
.sortableTreeWrapper .rstcustom__expandButton,
.sortableTreeWrapper .rstcustom__collapseButton {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
/* IE10+ specific styles go here */
/* 
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .sortableTreeWrapper .rstcustom__expandButton, .sortableTreeWrapper .rstcustom__collapseButton {
      background-position: 0.25px 0.25px !important;
    }
  }
 */
.sortableTreeWrapper .rstcustom__rowWrapper {
  padding: 10px 10px 10px 3px !important;
}
.sortableTreeWrapper .rstcustom__rowWrapperDragDisabled .rstcustom__row {
  color: #404040 !important;
}
.sortableTreeWrapper .rstcustom__rowTitle button {
  background: transparent;
  padding-right: 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-left: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 140px;
  white-space: nowrap;
  text-align: left;
} /* IE에서 custom scrollbar 가로 스크롤 시, 오른쪽 텍스트 잘림 방지 */
.sortableTreeWrapper .rstcustom__rowTitle button.active {
  color: #7535d8;
}
.sortableTreeWrapper button:focus,
.sortableTreeWrapper button.active:focus {
  outline: 0;
}
.sortableTreeWrapper .rstcustom__ordinaryButton.active {
  background: #7535d8;
}
.sortableTreeWrapper .rst__placeholder::before {
  border: none;
}

.sortableTreeWrapper .rstcustom__rowTitle .bizIcon {
  margin-left: 3px;
  padding-left: 25px;
  background: url(../images/common/icon-biz-tree.png) no-repeat 0 50%;
}
.sortableTreeWrapper .rstcustom__rowTitle .bizIcon.active {
  background: url(../images/common/icon-biz-tree-active.png) no-repeat 0 50%;
  color: #f85023;
}
