@charset "utf-8";
/* antd reset */

/* Cascader */
.br-now .ant-cascader-menu {
  min-width: auto;
}
.br-now .ant-cascader-menu:first-child {
  min-width: 91px;
}
.br-now .ant-cascader-menu:nth-child(2) {
  min-width: 150px;
}
.br-now .ant-cascader-menu:nth-child(3) {
  min-width: 60px;
}
.br-now .ant-cascader-menu-item {
  height: 45px;
  line-height: 35px;
  font-weight: bold;
  color: #262626;
}
.br-now .ant-cascader-menu-item:hover, .br-now .ant-time-picker-panel-select li:hover {
  background-color: rgba(0,0,0, .05);
}
.br-now .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled), 
.br-now .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover,
.br-now li.ant-time-picker-panel-select-option-selected {
  background-color: rgba(255,109,96, .15);
  color: #FF6D60;
}
.br-now .ant-cascader-menu-item-expand {
  padding-right: 15px;
}
.br-now .ant-cascader-menu-item-expand-icon {
  display: none !important;
}

/* Calendar */
.br-now .ant-calendar {
  width: 300px;
  border: 1px solid #E6E6E6 !important;
}
.br-now .ant-calendar-input {
  font-size: 15px;
  height: 30px;
  color: #262626;
  font-weight: bold;
}
.br-now .ant-calendar-cell {
  height: 36px;
}
.br-now .ant-calendar-date {
  width: 36px;
  height: 36px;
  line-height: 34px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 15px;
}
.br-now .ant-calendar-my-select {
  color: #262626;
  font-weight: bold;
  font-size: 15px;  
}
.br-now .ant-calendar-last-month-cell .ant-calendar-date {
  color: #999;  
}
.br-now .ant-calendar-disabled-cell .ant-calendar-date {
  background-color: transparent !important;
}
.br-now .ant-calendar-today .ant-calendar-date {
  background-color: #FF6D60 !important;
  border-color: #FF6D60 !important;
  color: #fff !important;
}
.br-now .ant-calendar-selected-date .ant-calendar-date, .br-now .ant-calendar-selected-start-date .br-now .ant-calendar-date, .br-now .ant-calendar-selected-end-date .br-now .ant-calendar-date {
  background-color: #fff !important;
  border-color: #FF6D60 !important;
  color: #262626 !important;
}
.br-now .ant-calendar-selected-date.ant-calendar-today .ant-calendar-date {
  background-color: #FF6D60 !important;
  border-color: #FF6D60 !important;
  color: #fff !important;
}
.br-now .ant-calendar-date:hover {
  color: #262626;
}
.br-now .ant-calendar-input-wrap {
  height: 45px;
}
.br-now .ant-calendar-footer-btn {
  text-align: left !important;
}
.br-now .ant-calendar-today-btn {
  color: #FF6D60 !important;
}

/* Time */ 
.br-now .ant-time-picker-panel-input-wrap {
  width: 300px !important;
  max-width: 300px !important;
  height: 45px !important;
}
.br-now .ant-time-picker-panel-inner {
  font-size: 15px;
  color: #262626;
  font-weight: bold;
}
.br-now .ant-time-picker-panel-select {
  width: 50%;
}
.br-now .ant-time-picker-panel-input {
  height: 30px;
  font-weight: 600;
}
.br-now .ant-time-picker-panel-select li {
  height: 45px;
  line-height: 42px;
  font-weight: 600;
}
.br-now .ant-time-picker-panel-addon button {
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  width: 135px; 
}
.br-now .ant-time-picker-panel-addon .btn-confirm {
  background-color: #FF6D60;
  border-color: #FF6D60 !important; 
  color: #fff !important;
  float: right;
}
.br-now .ant-time-picker-panel-addon .btn-default {
  float: left;
  color: #FF6D60 !important;
  border: 1px solid #fff !important;
}
.br-now .ant-time-picker-panel-addon:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
} 

/* ant modal reset 회의실 예약 */

.br-now .ant-modal {
  width: 320px !important;
  max-width: 100vw;
}
.br-now .ant-modal-header {
  padding: 13px 20px 12px;
  background-color: #F7F9FA;
  border-bottom: none;
}
.br-now .ant-modal-title {
  font-size: 15px;
  color: #262626;
  font-weight: bold;
}
.br-now .ant-modal-close-x {
  width: 48px;
  height: 48px;
  font-size: 15px;
  line-height: 48px;
}
.br-now .ant-modal-close-x .anticon-close {
  width: 24px;
  height: 24px;
  background: transparent url(../images/Close_darkgray.png) no-repeat 50% 50%;
  background-size: 100% 100%;
  vertical-align: text-bottom;
}
.br-now .ant-modal-close-x .anticon-close svg {
  display: none;
}

.br-now .ant-modal .rsv-form {
  font-size: 13px;
  color: #262626;
}
.br-now .ant-modal .rsv-form ul, 
.br-now .ant-modal .rsv-form li {
  display: block;
  margin-bottom: 8px;
}
.br-now .ant-modal .rsv-input > li > input {
  height: 45px;
  line-height: 45px;
  border: 1px solid #E6E6E6 !important;
  border-radius: 2px;
  font-size: 13px;
  color: #262626;
}
.br-now .ant-modal .rsv-input > li > textarea {
  border: 1px solid #E6E6E6 !important;
  border-radius: 2px;
}

.br-now .ant-modal .rsv-info {
  margin-top: 15px;
}
.br-now .ant-modal .rsv-info .meet-content {
  white-space: pre-wrap;
}
.br-now .ant-modal .rsv-info li {
  position: relative;
  padding-left: 32px;
  line-height: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}
.br-now .ant-modal .rsv-info li:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  width: 22px;
  height: 22px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.br-now .ant-modal .rsv-info li.person:before {
  background-image: url(../images/Person.png);
}
.br-now .ant-modal .rsv-info li.date:before {
  background-image: url(../images/Calendar.png);
}
.br-now .ant-modal .rsv-info li.time:before {
  background-image: url(../images/Time.png);
}
.br-now .ant-modal .rsv-info li.location:before {
  background-image: url(../images/Location.png);
}
.br-now .ant-modal .rsv-info li.person .btn-call {
  position: absolute;
  top: 0;
  right: 0;
  width: 34px;
  height: 34px;
  text-indent: -10000px;
  overflow: hidden;
  background: transparent url(../images/Call_green.png) no-repeat 50% 50%;
  background-size: 22px 22px;
  border-radius: 4px;
}
.br-now .ant-modal .rsv-info li.person h3 {
  font-size: 13px;
  color: #262626;
  margin-top: 10px;
}
.br-now .ant-modal .rsv-info li.person p {
  font-size: 12px;
  color: #595959;
  font-weight: normal;
  line-height: 17px;
}
.br-now .ant-modal .rsv-info li.location dl,
.br-now .ant-modal .rsv-info li.location dd {
  margin: 0;
  display: inline-block;
}
.br-now .ant-modal .rsv-info li.location dd {
  margin-right: 4px;
}
.br-now .ant-modal .rsv-info li.location dd:after {
  content: "/";
  display: inline-block;
  width: 7px;
  text-align: right;
} 
.br-now .ant-modal .rsv-info li.location dd:last-child:after {
  content: none;
} 

.br-now .ant-modal .use-time-select {
  height: 60px;
  position: relative;
  margin-top: 15px;
}
.br-now .ant-modal .use-time-select button {
  position: absolute;
  top: 0;
  width: 34px;
  height: 34px;
  font-size: 20px;
  text-indent: -10000px;
  overflow: hidden;                      
  border-radius: 4px;
}
.br-now .ant-modal .use-time-select button.down {
  left: 0;
  background: transparent url(../images/Remove_darkgray.png) no-repeat 50% 50%;
  background-size: 22px 22px;
}
.br-now .ant-modal .use-time-select button.up {
  left: 136px;
  background: transparent url(../images/Add_darkgray.png) no-repeat 50% 50%;
  background-size: 22px 22px;
}
.br-now .ant-modal .use-time-select .notice {
  color: #05C0A8; 
  position: absolute;
  bottom: 0;
  font-size: 11px;
}
.br-now .ant-modal .use-time-input {
  width: 90px;
  position: absolute;
  top: 0;
  left: 40px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #262626;
  border: none !important;
}
.br-now .ant-modal .use-time-input input {
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #262626;
  border: none !important;
}

.br-now .ant-modal .use-guide {
  padding: 10px 15px;
  background-color: #F2F4F5;
  color: #8C8C8C;
  font-size: 12px;
}
.br-now .ant-modal .use-guide h4 {
  font-size: 12px;
  color: #262626;
  padding-left: 22px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 4px;
}
.br-now .ant-modal .use-guide h4:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background: transparent url(../images/Notice.png) no-repeat;
  background-size: 100%;
}

.br-now .ant-modal-body {
  padding: 10px 20px;
}
.br-now .ant-modal-footer {
  border: none;
  padding: 5px 20px 20px;
  text-align: center;
}
.br-now .ant-modal-footer button {
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 4px;
  width: 135px;
}
.br-now .ant-modal-footer .btn-cancel {
  color: #262626;
  float: left;
  border: 1px solid #E6E6E6;
}
.br-now .ant-modal-footer .btn-confirm {
  background-color: #FF6D60;
  border-color: #FF6D60 !important; 
  color: #fff !important;
  float: right;
}
.br-now .ant-modal-footer:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.br-now .ant-modal-footer button:only-child {
  float: none !important;
}

/* 예약결과 및 지도보기 모달 */
.br-now.rsv-result .ant-modal,
.br-now.view-map .ant-modal
 {
  width: 300px !important;
}
.br-now.rsv-result .ant-modal-footer,
.br-now.view-map .ant-modal-footer {
  display: none !important;
}

.br-now.rsv-result .massage {
  padding: 35px 0;
  margin: 0 -10px;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #E6E6E6;
}
.br-now.rsv-result .massage:before {
  content: "";
  display: inline-block;
  width: 70px;
  height: 70px;
}
.br-now.rsv-result .massage.success:before {
  background: transparent url(../images/Check_circle.png) no-repeat 50% 50%;
  background-size: 100% 100%;
}
.br-now.rsv-result .massage.fail:before {
  background: transparent url(../images/Report_problem.png) no-repeat 50% 50%;
  background-size: 100% 100%;
}
.br-now.rsv-result .massage h4 {
  font-size: 15px;
  font-weight: bold;
}
.br-now.rsv-result .massage.success h4 {
  color: #11AA47;
}
.br-now.rsv-result .massage.fail h4 {
  color: #CA1627;
}
.br-now.rsv-result .massage.fail p {
  color: #595959;
  font-size: 12px;
  margin-top: 3px;
}
.br-now.view-map .ant-modal-body {
  padding: 0 20px 20px;
}
.br-now.view-map .rsv-info {
  background-color: #F7F9FA;
  margin: 0 -20px !important;
  padding: 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.br-now.view-map .rsv-info li {
  margin-bottom: 0;
}
.br-now.view-map .map {
  width: 300px;
  height: 300px;
  margin: 0 -20px;
  text-indent: -10000px;
  overflow: hidden;
  background: transparent url(../images/Map_view.png) no-repeat 50% 50%;
  background-size: 100% 100%;
}
.br-now.view-map .use-guide {
  background-color: rgba(0,0,0, .55);
  border-radius: 2px;
  text-align: center;
  padding: 6px 0;
}
.br-now.view-map .use-guide p {
  color: #fff;
  font-size: 12px;
  line-height: 22px;
}
.br-now.view-map .use-guide p:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  background: transparent url(../images/Zoom_white.png) no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
}
/* ant popover reset */

.br-now .ant-popover-inner {
  border-radius: 2px;
  border: 1px solid #05C0A8;
}
.br-now .ant-popover-content {
  margin-top: -6px;
}
.br-now .ant-popover-inner-content {
  padding: 10px 15px;
  color: #262626 !important;
  font-size: 12px !important;
}
.br-now .ant-popover-arrow {
  top: 1px !important;
  box-shadow: -1px -1px 0 #05C0A8 !important;
}
.br-now.ant-popover .info-popover {
  width: 200px;
  padding: 5px 0;
}
.br-now.ant-popover .info-popover li {
  float: left;
  width: 50%;
  line-height: 22px;
}
.br-now.ant-popover .info-popover:after {
  content: "";
  display: table;
  clear: both;
  height: 0;
  visibility: hidden;
}
.br-now.ant-popover .info-popover li:before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 6px;
  vertical-align: middle;
}
.br-now.ant-popover .info-popover li.projector:before {
  background: transparent url(../images/BeamProjector.png) no-repeat 50% 50%;
  background-size: 100% 100%;
}
.br-now.ant-popover .info-popover li.call-conference:before {
  background: transparent url(../images/ConferenceCall.png) no-repeat 50% 50%;
  background-size: 100% 100%;
}
.br-now.ant-popover .info-popover li.pc:before {
  background: transparent url(../images/PC.png) no-repeat 50% 50%;
  background-size: 100% 100%;
}
.br-now.ant-popover .info-popover li.video-conference:before {
  background: transparent url(../images/VideoCall.png) no-repeat 50% 50%;
  background-size: 100% 100%;
}

/* pseudo class reset */

.br-now .ant-btn {
  border: 1px solid #E6E6E6;
}
.br-now .ant-btn:hover, .br-now .ant-btn:focus, .br-now .ant-btn:active, .br-now .ant-btn.active {
  color: #262626;
  border: 1px solid #8c8c8c;
  box-shadow: none !important;
}
.br-now [ant-click-animating='true']:after, 
.br-now [ant-click-animating-without-extra-node='true']:after {
  content: none;
}
.br-now .rsv-input .ant-input:hover,
.br-now .rsv-input .ant-input:focus {
  border-color: #8C8C8C !important;
}
.br-now .rsv-input .ant-input:active,
.br-now .rsv-input .ant-input:focus-within {
  border-color: #FF6D60 !important;
}